<%- include('./Partials/header.ejs') %>

<div class="heading">
    <h1>About BookHaven Journal</h1>
    <p>We believe books are more than pages — they are portals to imagination.</p>
</div>

<div class="description">
    <p>BookHaven Journal is a creative space that blends curiosity with knowledge.
We use the Open Library Search API to bring you book data from millions of records across the globe.</p>
  
<p>Whether you’re a student, a writer, or a passionate reader, BookHaven Journal helps you:</p>
<ul>
        <li>✨ Discover new books by subject, author, or theme.</li>
        <li>✨ Explore related topics like Physics, Art, or Literature.</li>
        <li>✨ Reflect on what you read by composing your own journal entries..</li>
    </ul>
</div>


<%- include('./Partials/footer.ejs') %>